* {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  background-color: rgb(165, 140, 140);
}

header {
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 1%;
  z-index: 1;
  background: #12182b;
}

header .menu {
  position: relative;
  color: white;
  text-decoration: none;
  transition: 1s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
  border-right: 1px solid rgb(255, 255, 255);
  top: 5px;
}

header ul li a {
  font-family: "Poppins", sans-serif;
  position: relative;
  margin: 0 60px;
  color: #fff;
  transition: 0.5s;
}

a:hover {
  text-decoration: none;
  color: rgb(204, 26, 26);
}

// main-content
.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  .right-main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .degrade {
      width: 100%;
      height: 100%;
      background-color: rgb(129, 99, 99);
      position: absolute;
      right: 0%;
      top: 0%;
      z-index: -1;
      clip-path: polygon(0 0, 100% 0, 100% 0%, 0% 100%);
    }
    .image {
      height: 70%;
      width: 68%;
      margin-right: 10%;
      img {
        width: 100%;
        height: 100%;
        background-size: cover;
        transition: all 0.5s ease-in;
        &:hover {
          filter: grayscale(100%);
        }
      }
    }
  }

  .left-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20%;
    padding-right: 10%;
    .principale {
      font-size: 3rem;
      span {
        color: red;
      }
    }
    p {
      margin: 1.5rem 0;
      line-height: 2rem;
    }
  }
}

// competences
section {
  height: 100vh;
  position: relative;
}

.degrade2 {
  width: 100%;
  height: 100%;
  background-color: rgb(129, 99, 99);
  position: absolute;
  right: 50%;
  top: 0%;
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 100% 0%, 50% 100%);
}

.competences {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progres {
  height: 50vh;
  text-align: center;
  font-size: 1.5rem;
}

.front-back {
  text-align: center;
  font-size: 1.5rem;
  text-decoration: underline;
}

#html {
  width: 70%;
}
#javascript {
  width: 40%;
}
#adobe {
  width: 60%;
}
#wordpress {
  width: 60%;
}
#base {
  width: 50%;
}
#logik {
  width: 50%;
}

i {
  transform: scale(1.5);
}
