* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  background-color: #a58c8c;
}

header {
  position: fixed;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2% 1%;
  z-index: 1;
  background: #12182b;
}

header .menu {
  position: relative;
  color: white;
  text-decoration: none;
  -webkit-transition: 1s;
  transition: 1s;
}

header ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
  border-right: 1px solid white;
  top: 5px;
}

header ul li a {
  font-family: "Poppins", sans-serif;
  position: relative;
  margin: 0 60px;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a:hover {
  text-decoration: none;
  color: #cc1a1a;
}

.main-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.main-content .right-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.main-content .right-main .degrade {
  width: 100%;
  height: 100%;
  background-color: #816363;
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: -1;
  -webkit-clip-path: polygon(100% 100%, 100% 0, 100% 0%, 0% 100%);
          clip-path: polygon(100% 100%, 100% 0, 100% 0%, 0% 100%);
}

.main-content .right-main .image {
  height: 70%;
  width: 68%;
  margin-right: 10%;
}

.main-content .right-main .image img {
  -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.8);
          box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.main-content .right-main .image img:hover {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.main-content .left-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 20%;
  padding-right: 10%;
}

.main-content .left-main .principale {
  font-size: 3rem;
}

.main-content .left-main .principale span {
  color: red;
}

.main-content .left-main p {
  margin: 1.5rem 0;
  line-height: 2rem;
}

section {
  height: 100vh;
  position: relative;
}

.degrade2 {
  width: 100%;
  height: 100%;
  background-color: #816363;
  position: absolute;
  right: 50%;
  top: 0%;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 50% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 0%, 50% 100%);
}

.competences {
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progres {
  height: 50vh;
  text-align: center;
  font-size: 1.5rem;
}

.front-back {
  text-align: center;
  font-size: 1.5rem;
  text-decoration: underline;
}

#html {
  width: 70%;
}

#javascript {
  width: 40%;
}

#adobe {
  width: 60%;
}

#wordpress {
  width: 60%;
}

#base {
  width: 50%;
}

#logik {
  width: 50%;
}

i {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

aside {
  height: 100vh;
  position: relative;
  text-align: center;
}

.travaux {
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.degrade3 {
  width: 100%;
  height: 100%;
  background-color: #816363;
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 100% 0, -100% 0%, 100% 200%);
          clip-path: polygon(0 0, 100% 0, -100% 0%, 100% 200%);
}

.first-work {
  height: 25vh;
  font-size: 1.5rem;
}

.second-work {
  height: 25vh;
  font-size: 1.5rem;
}

footer {
  height: 100vh;
  position: relative;
  text-align: center;
}

.contact {
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.degrade4 {
  width: 50%;
  height: 100%;
  background-color: #816363;
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 0% 0%, 100% 0%, 100% 100%);
          clip-path: polygon(0 0, 0% 0%, 100% 0%, 100% 100%);
}

.contacter {
  height: 50vh;
}

#about {
  font-size: 1.7rem;
}

#regle-de,
#eval-boot {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.photo:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#anim-bor {
  height: 2px;
  background: black;
}

@-webkit-keyframes efface {
  from {
    background: black;
  }
  to {
    background: transparent;
  }
}

@keyframes efface {
  from {
    background: black;
  }
  to {
    background: transparent;
  }
}

#ciel {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation-name: efface;
          animation-name: efface;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.title {
  color: white;
  font-family: "Times New Roman", Times, serif;
  padding: 0 15px;
  text-shadow: 0 0 5px black;
  display: inline-block;
  margin: 0 auto;
}

.title-1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(68%, transparent), color-stop(68%, #a19846), color-stop(95%, #c7ca26), color-stop(95%, transparent));
  background-image: linear-gradient(to bottom, transparent 0%, transparent 68%, #a19846 68%, #c7ca26 95%, transparent 95%);
  font-size: 2rem;
  margin-bottom: 5%;
}

.formulaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #222222;
  border-radius: 3%;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  padding: 30px 50px;
}

.form__group {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.form__label {
  position: absolute;
  font-size: 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form__input {
  font-size: 16px;
  padding: 3px 10px;
  border-radius: 3px;
  border: none;
  border-bottom: 4px solid transparent;
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form__input:focus::-webkit-input-placeholder {
  visibility: hidden;
  opacity: 0;
}

.form__input:focus {
  outline: none;
  border-bottom: 4px solid #a5ee6e;
  width: 75%;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.form__input:focus:invalid {
  border-bottom: 4px solid #e94a2f;
}

.form__input:focus + .form__label {
  opacity: 1;
  font-size: 20px;
}

.form__message,
.form__message .message__input {
  width: 100%;
}

.submitBtn {
  display: block;
  padding: 5px 30px;
  border: none;
  outline: none;
  background: linear-gradient(45deg, blue, #1ae200);
  border-radius: 30px;
  margin: 20px auto;
  font-size: 25px;
  font-family: inherit;
  color: #fff;
  text-shadow: 0 0 5px black;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.submitBtn:hover {
  -webkit-transform: scale(1.02) translateY(-2px);
          transform: scale(1.02) translateY(-2px);
}

.submitBtn:active {
  -webkit-transform: scale(0.98) translateY(1px);
          transform: scale(0.98) translateY(1px);
}
/*# sourceMappingURL=styles.css.map */